<h1>Products</h1>
<div>
  <input placeholder="Search products" [(ngModel)]="queryStr" (ngModelChange)="onSearch()">
</div>
<div class="field-wrapper">
  <input id="in-stock" type="checkbox" [(ngModel)]="isShowInStock" (change)="onSearch()">
  <label for="in-stock">In Stock products only</label>
</div>
<div class="list-wrapper" *ngFor="let item of this.productList">
  <div class="category" *ngIf="item.products.length">
    <p>{{ item.category }}</p>
    <table>
      <tr *ngFor="let product of item.products">
        <td width="100px" [style.color]="product.inStock ? null : 'red'">{{ product.name }}</td>
        <td width="80px">{{ product.price }}</td>
        <td><button (click)="viewProductDetail(product)">View detail</button></td>
      </tr>
    </table>
  </div>
</div>

<ng-template [ngIf]="showModal && selectedProduct">
  <div class="modal">
    <div class="close-btn" (click)="closeModal()">X</div>
    <img [src]="'https://' + selectedProduct.imageUrl" />
  </div>
</ng-template>
